!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/grid.css">
<body>
    <div class="grid">
    <header class="border"><img src="/assets.img/Logo_of_blackpinkk.png" class="logo" alt="logo"></header>
    <nav class="border">
        <ul class="ulc">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/views/integrantes.html">Integrantes</a></li>
            <li><a href="/views/discografia.html">Discografía</a></li>
            <li><a href="/views/productos.html">Productos</a></li>
        </ul>
    </nav>
    <aside class="asiee"><img src="/assets.img/200.gif" alt="Black Pink en The show" class="img3"> 
        <p class="cont">Black Pink en The Show</p>
        <fieldset>
            <form>
                 <label for="Nombre y apellido" >Nombre y apellido:</label>
                 <input type="text" value="Nombre y apellido"/>
                 <label for="Correo eléctronico">Correo eléctronico:</label>
                 <input type="text" value="Correo eléctronico"/>
                 <label for="Tipo de evento">Tipo de evento:</label>
                 <input type="text" value="Tipo de evento"/>
                 <label for="Localidad">Localidad:</label>
                     <select name="Localidad">
                         <option value="Argentina">Argentina</option>
                         <option value="Uruguay">Uruguay</option>
                         <option value="Chile">Chile</option>
                         <option value="Perú">Perú</option>
                         <option value="Paraguay">Paraguay</option>
                         <input type="submit" class="boton">
                    </select>
             </form>
         </fieldset>
        </aside>
<footer class="fp">
    <p>● 2022 | Derechos reservados - Black Pink - Argentina</p>
    <ul class="fp2">
    <li class="img1"><a href="https://www.facebook.com/BLACKPINKOFFICIAL"></a><img src="/assets.img/facebooklogoincircularbuttonoutlinedsocialsymbol_79822.png" alt="facebook" class="img1"></li>
    <li class="img1"><a href="https://www.youtube.com/channel/UCOmHUn--16B90oW2L6FRR3A"></a><img src="/assets.img/Youtube_Rounded_Solid_icon-icons.com_61558.png" alt="yt" class="img1"></li>
    <li class="img1"><a href="https://www.tiktok.com/@bp_tiktok?lang=es"></a><img src="/assets.img/tiktok_logo_icon_187623.png"alt="tiktok" class="img1"></li>
    <li class="img1"><a href="https://open.spotify.com/artist/41MozSoPIsD1dJM0CLPjZF"></a><img src="/assets.img/spotify_icon-icons.com_65503.png" alt="spotify" class="img1" ></li>
    <li class="img1"><a href="https://www.instagram.com/blackpinkofficial/"></a><img src="/assets.img/instagram_logo_icon_173070.png" alt="instagram" class="img1" ></li>
    </ul>
</footer>
</div>
</body>
</html>