!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/grid.css">
<body>
    <div class="grid">
    <header class="border"><img src="/assets.img/Logo_of_blackpinkk.png" class="logo" alt="logo"></header>
    <nav class="border">
        <ul class="ulc">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/views/integrantes.html">Integrantes</a></li>
            <li><a href="/views/productos.html">Productos</a></li>
            <li><a href="/views/contacto.html">contacto</a></li>
        </ul>
    </nav>
    <aside class="asie"><p> DEBUT: 
        BLACKPINK hizo su debut el 8 de agosto a las 8 p.m con el lanzamiento de sus canciones "BOOMBAYAH" y "Whistle" de su primer sencillo digital, 'SQUARE ONE'. En tan sólo una hora, el grupo alcanzó el TOP de varios sitios web, y en cuestión de un día, sobrepasó récords, como alcanzar el puesto #1 en iTunes mundialmente, siendo el primer grupo K-Pop en conseguirlo y el segundo grupo femenino tras Fifth Harmony.
        BLACKPINK logró hacer su primer All-Kill en todas las listas musicales con su canción debut "Whistle" un día después de debutar oficialmente</p><img src="/assets.img/83340219.webp" alt=""> </aside>
<footer class="fp">
    <p>● 2022 | Derechos reservados - Black Pink - Argentina</p>
    <ul class="fp2">
    <li class="img1"><a href="https://www.facebook.com/BLACKPINKOFFICIAL"></a><img src="/assets.img/facebooklogoincircularbuttonoutlinedsocialsymbol_79822.png" alt="facebook" class="img1"></li>
    <li class="img1"><a href="https://www.youtube.com/channel/UCOmHUn--16B90oW2L6FRR3A"></a><img src="/assets.img/Youtube_Rounded_Solid_icon-icons.com_61558.png" alt="yt" class="img1"></li>
    <li class="img1"><a href="https://www.tiktok.com/@bp_tiktok?lang=es"></a><img src="/assets.img/tiktok_logo_icon_187623.png"alt="tiktok" class="img1"></li>
    <li class="img1"><a href="https://open.spotify.com/artist/41MozSoPIsD1dJM0CLPjZF"></a><img src="/assets.img/spotify_icon-icons.com_65503.png" alt="spotify" class="img1" ></li>
    <li class="img1"><a href="https://www.instagram.com/blackpinkofficial/"></a><img src="/assets.img/instagram_logo_icon_173070.png" alt="instagram" class="img1" ></li>
    </ul>
</footer>
</div>
</body>
</html>