<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/grid.css">
<body>
    <div class="grid">
    <header class="border"><img src="/assets.img/Logo_of_blackpinkk.png" class="logo" alt="logo"></header>
    <nav class="border">
        <ul class="ulc">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/views/discografia.html">Discografía</a></li>
            <li><a href="/views/productos.html">Productos</a></li>
            <li><a href="/views/contacto.html">contacto</a></li>
        </ul>
    </nav>
    <aside class="asie">BLΛƆKPIИK o BLACKPINK es un grupo femenino formado por YG Entertainment. Está integrado por cuatro miembros: Jisoo, Jennie, Rosé y Lisa. De arriba a bajo; Rosé,Lisa,Jennie y Jisoo
        <img src="/assets.img/bp1.png" alt="BlackPink foto grupal">
  <ul class="animated-shadow">
    <li><p>Jisoo</p><img src="/assets.img/D4_wWc5UcAAtIM4.jpg" alt="jisoo" ></li>
    <li><p>Jennie</p><img src="/assets.img/8a8871680e54fc5c534093862766c53c.jpg" alt="jennie"></li>
    <li><p>Rosé</p><img src="/assets.img/97be6f6378ce1d4f154cf44012d40220.jpg" alt="rosé"></li>
    <li><p>Lisa</p><img src="/assets.img/d7103401c927230cc1b8af720f9e85fb.jpg" alt="lisa"></li>
   </ul>
</aside>
<footer class="fp">
    <p>● 2022 | Derechos reservados - Black Pink - Argentina</p>
    <ul class="fp2">
    <li class="img1"><a href="https://www.facebook.com/BLACKPINKOFFICIAL"></a><img src="/assets.img/facebooklogoincircularbuttonoutlinedsocialsymbol_79822.png" alt="facebook" class="img1"></li>
    <li class="img1"><a href="https://www.youtube.com/channel/UCOmHUn--16B90oW2L6FRR3A"></a><img src="/assets.img/Youtube_Rounded_Solid_icon-icons.com_61558.png" alt="yt" class="img1"></li>
    <li class="img1"><a href="https://www.tiktok.com/@bp_tiktok?lang=es"></a><img src="/assets.img/tiktok_logo_icon_187623.png"alt="tiktok" class="img1"></li>
    <li class="img1"><a href="https://open.spotify.com/artist/41MozSoPIsD1dJM0CLPjZF"></a><img src="/assets.img/spotify_icon-icons.com_65503.png" alt="spotify" class="img1" ></li>
    <li class="img1"><a href="https://www.instagram.com/blackpinkofficial/"></a><img src="/assets.img/instagram_logo_icon_173070.png" alt="instagram" class="img1" ></li>
    </ul>
</footer>
</div>
</body>
</html>